.title {
	margin-top: 10px;
	text-align: center;
	font-size:28px ;
	font-weight: 500;
	border-bottom: solid 1px #ccc;
}
.content {
  border-bottom: solid 1px #ccc;
}
.description {
	margin-left: 32px;
}
.img_style {
	width: 580px;
	margin-left: 20%;
	margin-right: 20%;
}
.last_page {
	margin-left: 10%;
	margin-top: 10px;
}
.next_page {
	margin-left: 75%;
	margin-top: 10px;
}
.a_link {
	text-decoration: none;
}
.child_title {
	font-size: 18px;
	font-weight: 500;
}
.list {
	list-style-type: none;
	margin-left: 20%;
}